*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* Home page cards Styling */
.cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10;
}



/* shop page styling */


.shop{
  display: block;
  width: auto;
  height: 75vh;
  background-color: aqua;


}


