*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* Home page cards Styling */
.cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10;
}



/* login page styling */




